* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;

}

.container-fluid {
    position: relative;
    background-image: url("../assets/images/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    padding: 0;
    z-index: 1;
}

.container-fluid::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}


.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    font-style: italic;
    font-size: small;
    box-sizing: border-box;
}

.icon-mail, .icon-call, .icon-time {
    font-size: small;
    vertical-align: middle;
    margin-right: 2px; /* Added gap between icon and text */
    margin-left: 5px;
    color: #fac003;
}

.top-bar-left,
.top-bar-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.top-bar-left span,
.top-bar-right span {
    display: inline-flex;
    align-items: center;
}

/* navbar */
.navbar {
    background-color: rgba(0, 0, 0, 0.7) !important;
    z-index: 1000;
    position: relative;
    width: 100%;
    cursor: pointer;

}

.navbar.fixed-top {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid #fac003;
}

.navbar-scrolled {
    background-color: black !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}


.navbar-container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    color: white;
}

.navbar-brand:hover {
    color: white;
}

.logo-wiggle {
    display: inline-block;
    animation: slideLeftRight 2s ease-in-out infinite;
}

.navbar-nav .nav-link {
    color: white;
    font-weight: 500;
    margin-left: 20px;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #fac003;
}


.navbar-nav .nav-link.active {
    color: #fac003;
    font-weight: bold;
}

.material-symbols-outlined icon-account, .icon-logout {
    color: white;
}

.icon-account, .icon-cart {
    color: #fac003;
    margin-left: 1rem;
}



/* Style for the navbar toggler button */
.navbar-toggler {
    width: 40px;
    height: 40px;
    border: #fac003;
    background-color: transparent;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* the three bars */
.navbar-toggler-icon {
    background-image: none;
    width: 24px;
    height: 2px;
    background-color: #fac003;
    display: block;
    position: relative;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #fac003;
    left: 0;
}

.navbar-toggler-icon::before {
    top: -8px;
}

.navbar-toggler-icon::after {
    top: 8px;
}


/* SignIn,SignUp */
#signin-form {
    display: none;
    position: absolute;
    top: 75px;
    right: 25px;
    background-color: white;
    border-radius: 3px;
    padding: 20px;
    width: 300px;
    height: auto;
    color: black;
    z-index: 1000;
}

#signup-form {
    display: none;
    position: absolute;
    top: 75px;
    right: 25px;
    background-color: white;
    border-radius: 3px;
    padding: 20px;
    width: 300px;
    color: black;
    height: 29.5rem;
    z-index: 1000;
}

#signin-form h2,
#signup-form h2{
    font-size: 24px;
    color: #fac003;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#signup-form label,
#signin-form label {
    display: block;
    color: black;
}

#signin-form form,
#signup-form form{
    display: flex;
    flex-direction: column;
    height: auto;
}

#signin-form input,
#signup-form input{
    margin-bottom: 7px;
    padding: 10px;
    border: 1px solid #fac003;
    border-radius: 3px;
    width: 100%;
}

#signin-form input::placeholder,
#signup-form input::placeholder{
    color: #f1d476;
    font-size: 0.9rem;
}

#signin-form button[type="submit"],
#signup-form button[type="submit"]{
    padding: 10px;
    background-color: #fac003;
    color: white;
    border: 1px solid #fac003;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    width: 100%;
}

#signin-form button[type="submit"]:hover,
#signup-form button[type="submit"]:hover{
    background-color: white;
    color: #fac003;
    border: 3px solid #fac003;
}

#signin-form p,
#signup-form p{
    text-align: center;
    font-size: 14px;
}

#signin-form a,
#signup-form a{
    color: #fac003;
    text-decoration: none;
    font-weight: bold;
}

#signin-form a:hover,
#signup-form a:hover {
    text-decoration: underline;
}


/* cart */
.common-page .navbar {
    margin-top: 2.5rem;
    background-color: #f1cc52 !important;
}

#cart-page .nav-link {
    color: white;
    font-weight: 500;
    margin-left: 20px;
    transition: color 0.3s ease;
}



/* Container for navbar */
.common-page .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3.3rem;
    padding: 0 1rem;
}

.common-page .navbar-brand {
    flex: 1;
}

/* Cart items part */
.common-page .container {
        width: 100%;
        max-width: 100rem;
        height: 100%;
        background-color: #f8f9fa;
        margin-top: 1rem;
}

.cart-item img {
    width: 100px;
    height: 100px;
}

#cart-page .cart-items-container {
    border: 1px solid #fac003;
}

.item-title {
    font-size: 1.2rem;
}

.item-price .price {
    color: #fac003;
    font-size: 1rem;
}

.quantity-control button {
    padding: 2px 10px;
    width: 32px;
    height: 32px;
    text-align: center;
    color: #fac003;
    border-radius: 2px;
    border-color: #fac003;
    font-size: 1rem;
}

.quantity-control button:hover {
    color: white;
    background-color: orange;
    border-color: #fac003;
}
.customizations p {
    margin: 0;
    font-size: 0.9em;
    font-weight: normal;
}

.custom-text-danger {
    color: #fac003;
}

.order-summary-container {
    margin-top: 3rem;
    border: 1px solid #fac003;
    padding: 20px;
    border-radius: 2px;
    background-color: white;

}

#cart-page .custom-form-control {
    width: 100%;
    height: 2rem;
    max-width: 500px;
    border-radius: 2px;
    border: 1px solid #fac003;
    font-size: 16px;
    color: #f1cc52;
}

#cart-page .custom-form-control::placeholder {
    padding-left: 0.5rem;
    color: #f1d476;
    font-size: 1rem;
}

#cart-page .payment-btn {
    border-radius: 3px;
    border: 3px solid #fac003;
    height: 40px;
    font-size: 1rem;
    color: white;
    font-weight: 600;
    margin-bottom: 1rem;
    transition: background-color 0.3s ease;
    background-color: #fac003;
    cursor: pointer;
    width: 100%;
}

#cart-page .payment-btn:hover {
    background-color: white;
    color: #fac003;
}



/* Welcome massage */
.h1-container {
    margin-left: 2rem;
    margin-top: 3rem;
    padding: 4rem 1rem;
    max-width: 900px;

}

.h1-heading {
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: white;
    margin-bottom: 1rem;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeSlideUp 1.5s ease-out forwards;
}

.h1-heading span {
    color: #fac003;
}

.p-0 {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 2rem;
}

.h1-container .button {
    justify-content: left;
    flex-wrap: wrap;
}

.btn-menu, .btn-booking {
    border-radius: 50px;
    border: 3px solid #fac003;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: white;
    font-weight: 600;
    margin-bottom: 1rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn-menu:hover, .btn-booking:hover {
    background-color: #fac003;
    color: white;
}

.h1-heading, .p-0, .btn-booking, .btn-menu  {
    opacity: 0.5;
    transform: translateY(30px);
    animation: fadeSlideUp 0.5s ease-out forwards;
}

/* About Us */
.about-us {
    display: flex;
    gap: 2rem;
    margin-top: 0.1rem;
    align-items: center;
    padding: 2rem;
    background-color: palegoldenrod;
}


.images-grid {
    display: grid;
    grid-template-columns: repeat(2, 260px);
    grid-template-rows: repeat(2, 260px);
    gap: 15px;
}

.image-box {
    width: 260px;
    height: 260px;
    overflow: hidden;
    animation: fadeIn 1s ease-in-out;

}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.5s ease, filter 0.5s ease;
}

.image-box img:hover {
    transform: scale(1.05);
    filter: brightness(1.2);
}

.about-text {
    max-width: 500px;
    margin-left: 5rem;
    margin-top: 1rem;
    color: white;

}

.section-title {
    color: Black;
    font-size: x-large;
    font-style: italic;
    font-family: 'Playfair Display',ui-sans-serif ;
}

.read-more {
    display: inline-block;
    margin-top: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: White;
}


/* Menu */
.menu-heading-container {
    font-size: x-large;
    font-style: italic;
    color: #fac003;
    padding: 2rem 1rem 1rem;
    text-align: center;
    background-size: cover;
    margin-top: 0.1rem;
    font-family: 'Playfair Display', ui-sans-serif;
}

#category-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;
    gap: 15px;
}

.category-button {
    padding: 10px 20px;
    color: black;
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-size: large;
    transition: all 0.3s ease;
}

.category-button:hover {
    color: #fac003;
}

#menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 2rem 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.95rem;
}

.menu-item {
    display: none;
    width: 280px;
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.2s ease;
}

.menu-item.visible {
    display: block;
}

.menu-item:hover {
    transform: translateY(-5px);
}

.menu-image {
    width: 100%;
    height:250px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.add-to-cart-btn {
    background-color: white;
    border-radius: 50px;
    border: 3px solid #fac003;
    color: #fac003;
    padding: 10px 20px;
    margin-top: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.add-to-cart-btn:hover {
    background-color: #fac003;
    color: white;
}

.see-more-btn {
    width: fit-content;
    margin: 2rem auto;
    display: block;
    font-size: 0.8rem;
    text-align: center;
    padding: 12px 24px;
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Item description box */
.modal, .modal-quantity {
    display: none; /*Hidden */
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.modal-box,
.modal-content {
    background-color: white;
    justify-content: center;
    margin: 5% auto;
    padding: 20px 30px;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.close {
    color: black;
    float: right;
    font-size: 15px;
    cursor: pointer;
}

.close:hover {
    color: #fac003;
}

/* Quantity */
.modal-content h2 {
    margin-top: 0;
    font-size: large;
}

#quantity-input {
    width: 100%;
    padding: 8px 10px;
    margin: 10px 0 15px;
    border: 1px solid #ccc;
    border-radius: 8px;

}

#item-options {
    font-family: Arial, sans-serif;
    font-size: small;
    margin-top: 10px;
}

#item-options label {
    font-size: medium;
    display: block;
    margin-bottom: 8px;
}

#item-options .option-group-title {
    margin-top: 15px;
    margin-bottom: 6px;
}

#item-options input[type="radio"],
#item-options input[type="checkbox"] {
    margin-right: 8px;
    transform: scale(0.8);
    cursor: pointer;
}

#item-options .option-label {
    display: block;
    margin-bottom: 6px;
    cursor: pointer;
}

.modal-content button {
    background-color: #fac003;
    border-radius: 50px;
    border: 3px solid #fac003;
    color: white;
    padding: 10px 16px;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
}

.modal-content button:hover {
    background-color: White;
    color: #fac003;
}


/* Table Booking Section */
.booking-container {
    background-color: #f1cc52;
    padding: 30px;
    width: 100%;
}

.form-heading {
    text-align: center;
    font-size: x-large;
    margin-bottom: 20px;
    color: black;
    font-family: 'Playfair Display', ui-sans-serif;
    font-style: italic;
}

.booking-form .form-row {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.booking-form .form-row > * {
    flex: 1; /* Ensures all inputs in a row have equal width */
}

.booking-form .form-row.single-column {
    flex-direction: column;
}

.booking-form input,
.booking-form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid white;
    border-radius: 3px;
    font-size: 16px;
    background-color: #f1cc52;
}

.booking-form input::placeholder,
.booking-form textarea::placeholder {
    color: white;
    opacity: 0.8;
}

input[type="date"],
input[type="time"] {
    color: white;
    opacity: 0.8;
}

.booking-form, #signup-form button {
    border-radius: 3px;
    border: 3px solid white;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: white;
    font-weight: 600;
    margin-bottom: 1rem;
    transition: background-color 0.3s ease;
    background-color: #f1cc52;
    cursor: pointer;
    width: 100%;
}

.booking-form button:hover {
    background-color: white;
    color: #f1cc52;
}


/* footer */
.footer {
    background-color: black;
    margin-top: 0.1rem;
}

.footer-brand {
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    color: white;
}

.footer-brand:hover {
    color: #fac003;
}

.footer-sub-headings {
    font-size: 1rem;
    font-family: 'Playfair Display', serif;
    margin-top: 10px;
}

.footer p {
    color: darkgrey;
    font-size: small;
}

.footer ul li a{
    color: darkgrey;
    text-decoration: none;
    font-size: small;
}

footer ul li a:hover {
    color: #fac003;
}

.payment-icon {
    width: 30px;
    height: auto;
    margin-right: 20px;
    vertical-align: middle;
}

ul.list-payment-icon {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

ul.list-payment-icon li {
    margin-right: 20px;
}

.social-icon {
    color: #fac003;
}
.social-icon:hover {
    color: white;
}

.form-control {
    border-radius: 3px;
    font-size: 16px;
    color: #f1d476 !important;
    width: 139%;
}

.form-control::placeholder {
    color: #f1d476;
    font-size: 1rem;
}

.form-control-btn {
    border-radius: 3px;
    border: 3px solid #fac003;
    height: 40px;
    font-size: 1rem;
    color: #fac003;
    font-weight: 600;
    margin-bottom: 1rem;
    transition: background-color 0.3s ease;
    background-color: white;
    cursor: pointer;
    width: 100%;
}

.form-control-btn:hover {
    background-color: #fac003;
    border: 3px solid white;
    color: white;
}

.footer-bottom-bar {
    background-color: #fac003;
}


/*Profile Page */
.profile-sidebar,
.dashboard-sidebar {
    width: 280px;
    height: 100vh;
    background-color: #f8f9fa;
    padding: 1.5rem;
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
}

.profile-avatar, .dashboard-avatar {
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
    border-radius: 50%;
    background-color: #fac003;
}

.profile-actions, .dashboard-actions {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profile-action-item,
.dashboard-action-item {
    display: flex;
    align-items: center;
    color: black;
    cursor: pointer;
    transition: background-color 0.2s ease;
    padding: 0.25rem 0.5rem;
    border-radius: 2px;
}

.profile-action-item:hover,
.dashboard-action-item:hover {
    color: #fac003;
}

#profile-page .order-container {
    flex: 1;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #fac003;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#profile-page .order-actions {
    display: flex;
    gap: 5px;
    margin-top: 1rem;
    justify-content: center;
}

#profile-page .order-actions .btn-pending,
.btn-prepared, .btn-served, .btn-update, .btn-cancel {
    font-size: smaller;
    background-color: white;
    border-radius: 3px;
    border: 3px solid #fac003;
    width: 15%;
    height: 2rem;
    color: #fac003;
    font-weight: 600;
}

.btn-cancel:hover,
.btn-update:hover {
    background-color: #fac003;
    color: white;
}

.profile-layout {
    display: flex;
    gap: 1.5rem;
}

.common-page .order-items-container {
    width: 90%;
    border: 1px solid #fac003;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
}




.card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    padding: 20px;
    width: 320px;
}

.card-header h4 {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.card-header p {
    color: #888;
    font-size: 12px;
    margin: 4px 0 12px;
}

.card-body h2 {
    margin: 0;
    font-size: 28px;
    color: #333;
}

.card-body .positive {
    color: #3ac78b;
    font-size: 12px;
    background: #e6f4ef;
    padding: 2px 6px;
    border-radius: 6px;
    display: inline-block;
    margin-top: 6px;
}


/* Admin Dashboard */
#admin-page .dropdown-wrapper {
    position: relative;
    display: inline-block;
}

#admin-page .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 8px;
    margin-top: 1px;
    background-color: #f8f9fa;
    border: 1px solid #fac003;
    border-radius: 2px;
    min-width: 160px;
    z-index: 100;
}

#admin-page .dropdown-item {
    cursor: pointer;
    border-radius: 3px;
    font-size: small;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

#admin-page.dropdown-item:focus,
.dropdown-item:active {
    background-color: #f8f9fa;
    color: inherit;
    outline: none;
    box-shadow: none;
}

#admin-page .dropdown-item:hover {
   color: #fac003;
}

.chart-container {
    flex: 1;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #fac003;
    height: 300px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

/* Responsive styles */
@media (max-width: 768px) {
    #totalIncome {
        font-size: 14px;
        padding: 8px;
    }
}





/* Animations */
@keyframes fadeSlideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes slideLeftRight {
    0%   { transform: translateX(0); }
    25%  { transform: translateX(-5px); }
    50%  { transform: translateX(0); }
    75%  { transform: translateX(5px); }
    100% { transform: translateX(0); }
}





/* Responsive design for small screens */
@media (max-width: 770px) {
    .container-fluid {
        height: auto;
        background-position: top;
        padding: 20px;
    }


    /* Top Bar */
    .top-bar {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .top-bar-left,
    .top-bar-right {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }


    /*Nav Bar */
    .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding-top: 10px;
    }



    /* Main Heading */
    .h1-container {
        margin-left: 0.1rem;
        padding: 2rem 1rem;
        text-align: center;
    }

    .h1-heading {
        font-size: 2.2rem;
        text-align: center;
    }

    .p-0 {
        font-size: 1rem;
        text-align: center;
    }

    .h1-container .button {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 1rem;
        gap: 1rem;
    }

    .btn-menu, .btn-booking {
        width: 60%;
        text-align: center;

    }


    /* About Us */
    .about-us {
        flex-direction: column-reverse; /*Text appears first on mobile */
        gap: 0.5rem;
        padding: 0.5rem;
    }

    .images-grid {
        grid-template-columns: repeat(1, 100%); /* Stacks images vertically */
        grid-template-rows: auto; /* Adjust row height to auto */
        width: 100%; /* images take full width */
    }

    .image-box {
        width: 100%; /* Make each image box take full width */
        height: auto; /* Let height adjust based on image aspect ratio */
    }

    .about-text {
        margin-left: 0;
        max-width: 100%;
        text-align: center;
        margin-top: 1rem;
    }

    .section-title {
        font-size: 1.5rem; /* Adjust title size for smaller screens */
    }

    .read-more {
        text-align: center;
    }


    /* Menu*/
    .menu-heading {
        font-size: 1.5rem;
        padding: 10px;
        margin: 20px 0;
    }

    #category-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .menu-item {
        width: 90%;
        height: auto;
        margin: 10px auto;
    }

    .menu-image {
        width: 100%;
        height: auto;
    }

    .modal-box,
    .modal-content {
        width: 90%;
        max-width: none;
        padding: 15px;
        margin-top: 20%;
    }

    #quantity-input {
        width: 100%;
        font-size: 1rem;
    }

    .add-to-cart-btn,
    .modal-content button {
        width: 50%;
        font-size: 1rem;
        padding: 12px;
    }

    .see-more-btn {
        width: 90%;
        margin-top: 5px;
        display: block;
        font-size: 1rem;
        text-align: center;
    }

    #item-options label {
        font-size: 1rem;
    }

    #item-options input[type="radio"],
    #item-options input[type="checkbox"] {
        transform: scale(0.8);
    }


    /* Table Booking Section */
    .booking-form .form-row {
        flex-direction: column;
    }

    .booking-form button {
        font-size: 0.9rem;
        padding: 0.6rem 1.2rem;
    }

    .form-heading {
        font-size: 1.5rem;
    }




    /* Cart Page */
    .common-page .navbar-container {
        height: auto;
        padding: 0.4rem 1rem 0.4rem 1rem;
    }

    .common-page .container {
        padding: 0 1rem;
    }

    .cart-items-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cart-item {
        flex-direction: column !important;
        align-items: center !important;
        text-align: center;
        width: 100%;
        max-width: 500px;
        padding: 1rem;
    }

    .cart-item img {
        width: 100%;
        height: auto;
    }

    .cart-item input[type="checkbox"] {
        align-self: flex-start;
        margin-bottom: 0.5rem;
    }

    .cart-item > div {
        width: 100%;
    }

    .quantity-control {
        justify-content: center;
    }

    .quantity-control button {
        width: 28px;
        height: 28px;
        font-size: 0.9rem;
    }

    .order-summary-container {
        margin-top: 2rem;
        padding: 15px;
    }

    #cart-page .custom-form-control {
        font-size: 0.9rem;
        height: 1.8rem;
    }

    #cart-page .payment-btn {
        font-size: 0.9rem;
        height: 36px;
    }

    /* Profile Page */
    .profile-layout {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .profile-sidebar {
        width: 100%;
        height: auto;
        align-items: center;
        text-align: center;
        padding: 0.5rem;
    }

    .profile-actions {
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        font-size: large;
    }

    .profile-action-item {
        width: 100%;
        justify-content: flex-start;
    }

    #profile-page .order-container {
        width: 100%;
        margin: 1rem 0;
        padding: 0 1rem;
    }

    #profile-page .order-actions {
        flex-direction: row;
        align-items: flex-start;
        gap: 0.3rem;
        font-size: small;
    }

    #profile-page .order-actions .btn-pending,
    .btn-prepared,
    .btn-served,
    .btn-update,
    .btn-cancel {
        width: 80%;
    }

    .common-page .order-items-container {
        width: 100%;
        margin: 1rem 0;
    }

    .cart-item {
        flex-direction: column !important;
        align-items: center !important;
        text-align: center;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        gap: 1rem;
    }

    .cart-item img {
        width: 100%;
        height: auto;
    }

    .cart-item input[type="checkbox"] {
        align-self: flex-start;
        margin-bottom: 0.5rem;
    }

    .cart-item > div {
        width: 100%;
    }

    .item-price,
    .payment-status {
        text-align: center;
    }
}
